:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

/* Colors */

:root {
    --color-default: #212529;
    --color-primary: #efb70b;
    --color-secondary: #ffffff;
    --color-primary-red: rgb(231, 207, 34);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}



body {
    font-family: var(--font-default);
    color: var(--color-default);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: #ec2727;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/

section {
    overflow: hidden;
    padding: 80px 0;
}

.section-bg {
    background-color: #eee;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #7f7f90;
    text-transform: uppercase;
    font-family: var(--font-default);
}

.section-header p {
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.section-header p span {
    color: var(--color-primary);
}





/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    border-bottom: 1px solid #fff;
}

@media (max-width: 575px) {
    .header {
        height: 70px;
    }
}

.header.sticked {
    border-color: #fff;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #000;
    margin: 0;
    font-family: var(--font-secondary);
}

.header .logo h1 span {
    color: var(--color-primary);
}

.header .btn-Register-customer-new,
.header .btn-Register-customer-new:focus {
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    background: var(--color-primary);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    transition: 0.3s;
}

.header .btn-Register-customer-new:hover,
.header .btn-Register-customer-new:focus:hover {
    color: #fff;
    background: rgb(239, 183, 11);
}

.header .btn-login-user,
.header .btn-login-user:focus {
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    background: var(--color-primary-red);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 30px;
    transition: 0.3s;
}

.header .btn-login-user:hover,
.header .btn-login-user:focus:hover {
    color: #fff;
    background: var(--color-primary);
}

section {
    scroll-margin-top: 90px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/

@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar > ul > li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 600;
        color: #7f7f90;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar > ul > li > a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: var(--color-primary);
        visibility: hidden;
        width: 0;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover > a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover > a {
        color: #000;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover > a {
        color: var(--color-primary);
    }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    background-image: linear-gradient(to right, #636e72, #000000);
    color: #fff;
    padding-top: 5%;
    margin-top: 90px;
    height: 670px;
}
#hero h2 {
    margin-top: 43px;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-secondary);
    font-family: Garamond, serif;
}


#hero h2 span {
    color: var(--color-primary);
}

#hero p {
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 30px;
}

#hero .btn-Register-customer-new {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: var(--color-primary);
    box-shadow: 0 8px 28px rgba(16, 16, 16, 0.38);
}

#hero .btn-Register-customer-new:hover {
    background: rgb(255, 186, 27);
    box-shadow: 0 8px 28px rgba(16, 16, 16, 0.62);
}
.img-fluid {
    width: 500px;
}

.bottom_img {
    width: 100%;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .about-img {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.about h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
    font-family: var(--font-secondary);
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: var(--color-primary);
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/

.stats-counter {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/counter.jpg") center center;
    background-size: cover;
    padding: 42px 0;
}

.stats-counter .stats-item {
    padding: 30px;
    width: 100%;
}

.stats-counter .stats-item span {
    font-size: 48px;
    display: block;
    color: #fff;
    font-weight: 700;
}
@media (min-width: 1365px) {
    .stats-counter {
        background-attachment: fixed;
    }
}

.stats-counter .stats-item p {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
}

/*--------------------------------------------------------------
# Car Section
--------------------------------------------------------------*/
.section1{
    border: 2px solid #101010;
    mso-border-shadow: yes;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: white;
    opacity: 90%;
}
.carSection{
    bottom: -33px;
    margin: auto;
    position: relative;
    width: 85%;
}

.img{
    width: 75%;
    height: 85%;
    margin: auto;
    padding-top: 14px;
}

.div > div > div{
    cursor: pointer;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 10px;

}

.section1:hover{
    border:2px solid #efb70b;
}

.carNameBottom{
    bottom: 0;
    padding-left: 33%
}

.carName{
    font-family: Georgia , Serif;
     font-size: 20px;
    padding-top: 5%;
    font-weight: bold;
}

.detailsBox >h2{
    font-size: 15px;
    padding-left: 15%;
}

.detailsBox >ul {
    padding-left: 30%;
}
.sectionName{
    margin: auto;
    /* position: sticky;*/
    text-align: center;
    top: 0;

}


/*--------------------------------------------------------------
# Register New Customer Section
--------------------------------------------------------------*/

.Register-customer-new .register-img {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 1px 2px 7px 4px #d7d6d6;
}

.Register-customer-new .register-form-bg {
    background: #dcdde1;
    box-shadow: 1px 2px 7px 4px #d7d6d6;
    border-radius: 15px;
}

.Register-customer-new .reg-customer-form {
    padding: 40px;
}

.Register-customer-new .reg-customer-form h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Register-customer-new .reg-customer-form h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
}

.Register-customer-new .reg-customer-form p {
    font-size: 14px;
    margin-bottom: 20px;
}

.Register-customer-new .reg-customer-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.Register-customer-new .reg-customer-form .sent-message {
    display: none;
    color: #fff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.Register-customer-new .reg-customer-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.Register-customer-new .reg-customer-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #059652;
    border-top-color: #fff;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.Register-customer-new .reg-customer-form input,
.Register-customer-new .reg-customer-form textarea {
    box-shadow: none;
    font-size: 14px;

}

.Register-customer-new .reg-customer-form input:focus {
    border-color: #d7d6d6;
}

.Register-customer-new .reg-customer-form input {
    padding: 12px 15px;
}

.Register-customer-new .width {
    width: 25.2em;
}

.Register-customer-new .reg-customer-form button[type=button] {
    background: #218c74;
    border: 0;
    padding: 14px 60px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.Register-customer-new .reg-customer-form button[type=button]:hover {
    background: #20bf6b;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

.contact .info-item{
    background: #f4f4f4;
    padding: 30px;
    height: 100%;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;

}
.contact .info-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-size: 24px;
    line-height: 0;
    color: #fff;
    background: var(--color-primary);
    border-radius: 50%;
    margin-right: 15px;
}
.contact .info-item h3{
    font-size: 20px;
    color:#6c757d;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.contact .info-item p {
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
}
.contact .info-item .social-links a {
    font-size: 24px;
    display: inline-block;
    color: rgba(55, 55, 63, 0.7);
    line-height: 1;
    margin: 4px 6px 0 0;
    transition: 0.3s;
}
.contact .info-item .social-links a:hover {
    color: var(--color-primary);
}
.contact .email-form {
    width: 100%;
    margin-top: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 30%) 0 19px 38px, rgb(0 0 0 / 22%) 0 15px 12px;
}
.contact .email-form .form-group {
    padding-bottom: 20px;
}

.contact .email-form .error-message {
    display: none;
    color: #fff;
    background: #df1529;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .email-form .error-message br + br {
    margin-top: 25px;
}
.contact .email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .email-form input,
.contact .email-form textarea {
       box-shadow: none;
    font-size: 14px;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
    border-color: red;
}

.contact .email-form input {
    height: 48px;
}

.contact .email-form textarea {
    padding: 10px 12px;
}

.contact .email-form button[type=submit] {
    background: var(--color-primary);
    border: 0;
    padding: 12px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .email-form button[type=submit]:hover {
    background: #eea909;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background-image: linear-gradient(to right, #3C3F41, #2B2B2B);
    color: #fff;
    height: 500px;

}
.footer_img {
    width: 100%;

}
.footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
    margin-top: 50px;
}

.footer h4 {
    margin-top: 50px;
    font-size: 16px;
    position: relative;
    font-weight: bold;
    padding-bottom: 5px;
    color: #fff;
}

.text {
    font-size: 15px;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
}

.footer .footer-links {
    margin-bottom: 30px;
}

.footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-links ul a:hover {
    color: #fff;
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
}

.footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
}

.footer .credits a {
    color: #fff;
}

form .form-label,.input-group-text{
    font-size: 0.9em;
    font-weight: bolder;
    color: #2c3e50;
}

form .form-control {
    font-size: 0.9em;
    font-weight: bolder;
    color: #2f3640;
    border-radius: 10px!important;
}
